html {
    background-color: #221c19;
    font-family: Arial, Helvetica, sans-serif;
}

body {
    margin-top: 20vh;
}

h1 {
    font-size: 3em;
    color: #fefefe;
    margin: 20px auto;
    text-align: center;
}

#calculator {
    background-color: #0f0e0e;   
    padding: 10px;
    border-radius: 5px;
    width: 270px;
    margin: 0 auto;
}

#result-con {
    height: 60px;
    margin: 6px 2px;
    border-radius: 3px;
    text-align: right;
    position: relative;
}

#previous {
    position: absolute;
    font-size: 0.8em;
    color: #9b9b9b;
    margin-right: 2px;
    top: 0;
    right: 0;
}

#current {
    position: absolute;
    font-size: 1.2em;
    color: #fefefe;
    margin-right: 2px;
    bottom: 0;
    right: 0;
}

#calculator button{
    background-color: #fefefe;
    border: 1px solid #969696;
    font-size: 1.4em;
    height: 40px;
    width: 60px;
    margin: 4px 2px;
    display: inline-block;
    border-radius: 1px;
}

button#equal {
    height: 184px;
    float: right;
    background-color: #ffa135;
}

#calculator button.operation, #calculator button#reset {
    background-color: #adadad; 
}